<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-16">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>IPWhois</title>
</head>
<body>

<div>
    <h2>Whois by WhiteBeef</h2>
</div>

<form method="post">
    <label for="ipl">IP:</label><br>
    <input type="text" id="ipl" name="ip" th:value="${info.ip}">
    <button type="submit">Check</button>
</form>

<p th:utext="${info.success}? 'Информация по IP <b>'+${info.ip}+'</b>:': 'Вы указали неверный IP, или он приватный'"><br/>
<div class="Information" th:hidden="${info.success} ? 'false' : 'true'">
    <p th:text="'Континент: '+${info.continent}?: 'Не определено'">
    <p th:text="'Страна: '+${info.country}+' '+${info.emoji}?: 'Не определено'">
    <p th:text="'Город: '+${info.city}?: 'Не определено'">
    <p th:text="'Часовой пояс: '+${info.timezone}?: 'Не определено'">
    <p th:text="'Провайдер: '+${info.organization}?: 'Не определено'">
    <p th:text="'Домен: '+${info.domain}?: 'Не определено'">
    <p th:text="'Регион: '+${info.region}?: 'Не определено'">
</div>
</body>
</html>